@import "settings";

@import "foundation";

@import "mixins";

/* Base */
/* ----------------------------------------------------------*/
body {
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    a {
        color: $header-link-color;

        &:hover {
            color: scale-color($header-link-color, $lightness: 30%);
        }
        &:visited {
            color: scale-color($header-link-color, $lightness: 20%);
        }
    }
}

p {
    overflow-x: scroll;
}

.full-height {
    height: 100%;
}

.wrap {
  max-width: $content-max-width;
  margin: 0 auto;
  zoom: 1;
  padding: 0 6px;

  @media #{$medium-up} {
    padding: 0;
  }

  &:before, &:after {
    content:"";
    display:table;
  }

  &:after {
    clear: both;
  }
}

.separate-line {
    width: 100%;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
}

/* Layout Styles */
/* ----------------------------------------------------------*/

/* Site header */

.site-header {
  height: 406px;
  width: 100%;
  position: relative;
  border-top: 5px solid #333;
  border-bottom: 1px solid #e8e8e8;
  min-height: $header-height;
  overflow: hidden;
}

#the-world {
  height: 400px;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.site-title {
  display: block;
  font-size: 26px;
  letter-spacing: -1px;
  line-height: $header-height;
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 1;

  &, &:hover, &visited {
    color: $primary-color;
  }
}

.site-avatar {
  width: 56px;
  height: 56px;
  border-radius: 100px;
  border: 3px solid  $primary-color;
  display: none;

  @media #{$medium-up} {
      display: inline-block;
  }
}

.site-top-nav {
  float: right;
  line-height: $header-height;

  .page-link {
    margin-right: 16px;
  }
}

/* Site footer */

.footer-heading {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.5px;
  margin-bottom: 15px;
}

.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px;

  .column {
    float: none;
    clear: both;
    width: auto;
    margin-bottom: 15px;

    @media #{$medium-up} {
      float: left;
      clear: none;
    }
  }

  .footer-col-1 {
    width: 50%;
    margin-right: 10px;

    @media #{$medium-up} {
      width: 270px; /*fallback*/
      width: -webkit-calc(35% - 10px);
      width: -moz-calc(35% - 10px);
      width: -o-calc(35% - 10px);
      width: calc(35% - 10px);
    }
  }
  .footer-col-2 {
    width: 45%; /*fallback*/
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: -o-calc(50% - 10px);
    width: calc(50% - 10px);
    margin-right: 0;

    @media #{$medium-up} {
      width: 175px; /*fallback*/
      width: -webkit-calc(23.125% - 10px);
      width: -moz-calc(23.125% - 10px);
      width: -o-calc(23.125% - 10px);
      width: calc(23.125% - 10px);
      margin-right: 10px;
    }
  }
  .footer-col-3 {
    width: auto;
    clear: both;

    @media #{$small-only} {
      &.column {
        float: none;
      }
    }

    @media #{$medium-up} {
      clear: none;

      width: 335px; /*fallback*/
      width: -webkit-calc(41.875%);
      width: -moz-calc(41.875%);
      width: -o-calc(41.875%);
      width: calc(41.875%);
    }
  }
}

.site-footer ul { list-style: none; }

.site-footer li,
.site-footer p {
  font-size: 15px;
  letter-spacing: -.3px;
  color: #828282;
}

.github-icon-svg,
.twitter-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

/* Syntax highlighting styles */
/* ----------------------------------------------------------*/

.highlight  { background: transparent; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */


.page-content {
  margin-right: 0;
  padding: 12px;

  img {
    max-width: 100%;
    width: auto;
    display: block;
    margin: 0 auto;
  }
}
@media #{$small-only} {
  .post-header h1 { font-size: 36px; }
  .post-content h2 { font-size: 28px; }
  .post-content h3 { font-size: 22px; }
  .post-content h4 { font-size: 18px; }
  .post-content blockquote { padding-left: 10px; }
  .post-content ul,
  .post-content ol { padding-left: 10px; }
}

.home h1 { margin-bottom: 25px; }

.posts {
    list-style-type: none;
    background-color: white;
}

.posts li { margin-bottom: 30px; }

.posts .post-link {
  color: #666;
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1;
}

.posts .post-date {
  display: block;
  font-size: 15px;
  color: #818181;
}

.cube-container {
    z-index: -1;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    -webkit-perspective: 1000px;
    -webkit-perspective-origin: 50% 50%;
    position: fixed;
    left: 0;
    top: 0;
}
.cube {
    width: 300px;
    height: 300px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    opacity: 0.1;
}
.aspect {
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: solid 1px $primary-color;
}
.cube .front {
    transform: translateZ(150px);
    -webkit-transform: translateZ(150px);
}
.cube .back {
    transform: translateZ(-150px);
    -webkit-transform: translateZ(-150px);
}
.cube .top {
    transform: translateZ(150px) rotateX(-90deg);
    -webkit-transform: translateZ(150px) rotateX(-90deg);
    transform-origin: top;
    -webkit-transform-origin: top;
}
.cube .bottom {
    transform: translateZ(150px) rotateX(90deg);
    -webkit-transform: translateZ(150px) rotateX(90deg);
    transform-origin: bottom;
    -webkit-transform-origin: bottom;
}
.cube .left {
    transform: translateZ(150px) rotateY(90deg);
    -webkit-transform: translateZ(150px) rotateY(90deg);
    transform-origin: left;
    -webkit-transform-origin: left;
}
.cube .right {
    transform: translateZ(150px) rotateY(-90deg);
    -webkit-transform: translateZ(150px) rotateY(-90deg);
    transform-origin: right;
    -webkit-transform-origin: right;
}
@keyframes rotationsa {
    0% {
        transform: rotate3d(0, 0, 0, 360deg);
        -webkit-transform: rotateX(0deg) rotateY(0deg);
    }
    60% {
        transform: rotate3d(0.4, 0.7, 0.2, 360deg);
        -webkit-transform: rotateX(144deg) rotateY(252deg);
    }
    100% {
        transform: rotate3d(1, 1, 0, 360deg);
        -webkit-transform: rotateX(360deg) rotateY(360deg);
    }
}
@-webkit-keyframes rotationsa {
    0% {
        transform: rotate3d(0, 0, 0, 360deg);
        -webkit-transform: rotateX(0deg) rotateY(0deg);
    }
    60% {
        transform: rotate3d(0.4, 0.7, 0.2, 360deg);
        -webkit-transform: rotateX(144deg) rotateY(252deg);
    }
    100% {
        transform: rotate3d(1, 1, 0, 360deg);
        -webkit-transform: rotateX(360deg) rotateY(360deg);
    }
}
.animated {
    animation-duration: 60s;
    -webkit-animation-duration: 60s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}
.animated.infinite {
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
.animated.rotation {
    animation-name: rotationsa;
    -webkit-animation-name: rotationsa;
}

/* All your print styles go here */
@media print {
    header, footer, nav { display: none !important; }
}
