---
layout: default
---

<div class="home">
  <p>简单地记录，不断地思考。</p>
    {% for category in site.categories reversed %}
      {% for page in site.pages %}
        {% assign categoryName = category | first %}
        {% if page.category == categoryName %}
          <h2><a href="/Category-{{ categoryName }}/">{{ page.title }}</a></h2>
          <div class="category-frame">
                {{ page.content }}
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
