<div class="side-nav">
	<div class="side-nav-category">
		<h3>Categories</h3>

		<ul>
		    {% for category in site.categories reversed %}
				{% assign categoryName = category | first %}
		        <li><a href="/categories/#{{ category | first }}" class="page-link"><i class="fa {{ site.data.categoryIcons[categoryName] }}"></i> {{ categoryName | upcase }}({{ category | last | size }})</a></li>
		    {% endfor %}
		</ul>
	</div>
	<div class="side-nav-tag">
		<h3>Tags</h3>
		<div class="container">
	    {% for tag in site.tags reversed %}
	        <span><a href="/tags/#{{ tag | first }}" class="page-link" style="font-size: {{ tag | last | size | plus: 11 }}px">{{ tag | first }}</a></span>
	    {% endfor %}
	</div>
	</div>
</div>
