<!DOCTYPE html>
<html>

  {% include post_head.html %}

    <body>

    {% include header.html %}

    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <nav class="tab-bar">
          <section class="middle tab-bar-section">
          </section>

          <section class="right-small">
            <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
          </section>
        </nav>
        <aside class="right-off-canvas-menu side-bar">
          {% include sidebar.html %}
        </aside>

        <section class="main-section">
            <div class="post-content">
                {{ content }}
            </div>
        </section>

      <a class="exit-off-canvas"></a>
      </div>
    </div>
        {% include footer.html %}

        <script src="/js/vendors/foundation/foundation.js"></script>
        <script src="/js/vendors/foundation/foundation.offcanvas.js"></script>
        <script>
        $(window).bind("load", function () {
            $(document).foundation();
            $('.menu-icon').click(function(){ false });
        });
        </script>
    </body>
</html>
